<?xml version="1.0"?>
<!--
/**
 * This file is part of the Klarna KP module
 *
 * (c) Klarna Bank AB (publ)
 *
 * For the full copyright and license information, please view the NOTICE
 * and LICENSE files that were distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Controller\Manage\Save">
        <plugin name="iys_integration" type="Mnm\Iys\Plugin\Manage\IysSave" sortOrder="1"  />
    </type>

    <preference for="Mnm\Iys\Model\IysRecordInterface" type="Mnm\Iys\Model\RecordMobilDev"/>
    <preference for="Mnm\Iys\Model\IysSubscriptionManagerInterface" type="Mnm\Iys\Model\IysSubscriptionManager" />
    <preference for="Magento\Customer\Block\Newsletter" type="Mnm\Iys\Block\Newsletter"/>

</config>
