<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mnm" translate="label" sortOrder="900">
            <label>Mnm Iys</label>
        </tab>
        <section id="iys" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>IYS</label>
            <tab>mnm</tab>
            <resource>Mnm_Iys::system_config</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>

                <field id="email_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email Permission Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="call_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Call Permission Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sms_enabled" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sms Permission Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>


            </group>
            <group id="api_conf" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Api Configurations</label>
                <field id="base_url" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Api Base Url</label>
                    <comment>Api Base Url Field</comment>
                </field>
                <field id="api_key" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credential Key</label>
                    <comment>Api Key</comment>
                </field>
                <field id="api_secret" translate="label comment" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credential Secret</label>
                    <comment>Api Secret</comment>
                </field>

                <field id="iys_ajax_class" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Iys Ajax Class</label>
                    <comment>Select the iys ajax class</comment>
                    <source_model>Mnm\Iys\Model\Config\Source\IysAjaxConfig</source_model>
                </field>
            </group>
            <group id="labels" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Label Texts</label>
                <field id="email" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email Label Text</label>
                    <comment>This label will be shown next to email checkbox</comment>
                </field>
                <field id="sms" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sms Label Text</label>
                    <comment>This label will be shown next to sms checkbox</comment>
                </field>
                <field id="call" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Phone Label Text</label>
                    <comment>This label will be shown next to phone checkbox</comment>
                </field>
            </group>
        </section>
    </system>
</config>
